@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap');

:root {
    /* colors */
    /* Primary */
    --nutmeg: hsl(14,45%,36%);
    --dark-raspberry: hsl(332, 51%, 32%);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30,18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);
    
    /* Typography */
    --outfit: 'Outfit', sans-serif;
    --young-seriff: 'Young Serif', serif;
}
body {
    font-size: 16px;
}

h1, h2 {
    font-family: var(--young-seriff);
}

h1 {
    font-size: 35px;
}

h2 {
    color: var(--nutmeg);
}

p {
    font-family: var(--outfit);
}

li {
    font-family: var(--outfit);
}

li::marker {
    color: var(--nutmeg);
    font-size: 14px;
}

ol li::marker {
    color: var(--nutmeg);
    font-weight: bold;
}

hr {
    width: 87%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(158, 158, 158);
}

.wenge-brown {
    color: var(--wenge-brown);
}

.nutmeg {
    color: var(--nutmeg);
}

.prep-time {
    background-color: var(--rose-white);
}

.prep-time h3 {
    color: var(--dark-raspberry);
    font-weight: 700;
}

.nutrition hr {
    width: 100%;
}
